.bannerFull {
  background: url('https://github.com/kobechode/honev/blob/master/img/Banner-img.png?raw=true') repeat fixed 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:40%;
background-blend-mode: multiply;
  color: $clr-white;
  padding-bottom: 3rem;
  position: relative;
  @include mediaQuery($break-md){

    background-position-x:center ;
  }
  &__content {
    h1 {
      font-size: 6rem;
      line-height: 1;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      width: 40%;
    }
  }
  .services {


    &__item {
      padding: 2rem;
      position: relative;
      gap: 2rem;
      img {
        width: 51px;
        height: 45px;
      }
      &:first-child::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: $clr-primary;
        bottom: -2px;
        display: block;
        z-index: 1;
      }
      &__content {
        margin-bottom: 3rem;
      }
      z-index: 1;
    }
    &__wrapper {
      @include grid(3,5rem);

      @include mediaQuery($break-md){
        @include grid(1,2rem);

      }
    }
    border-bottom: 1px solid $clr-white;

    @include mediaQuery($break-md){

      border: none;
    }

  }
}

.bg--transparent {
  background-color: transparent !important;
  color: $clr-primary !important;
  border: 1px solid $clr-primary !important;
  &:hover {
    background-color: $clr-primary !important;
    color: $clr-black !important;
  }
}

.gradientTopLight {
  position: absolute;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.206),transparent );
  top: 0;
}
.gradientbottomDark {
  position: absolute;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(transparent,$clr-black );
  bottom: 0;
}

.gradientFromTop {
  position: absolute;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient($clr-black ,transparent);
  top: 0;
}


.tours{
 

  &__cards{
   max-width: 350px;
    position: relative;
    &::after{

      content: "";
      position: absolute;
      width: 100%;
      height: 15rem;
      background-image: linear-gradient(transparent,black);
      bottom: 0;
      left: 0;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
     
     
    }

    
  }

  &:nth-child(2),&:nth-child(4){

    margin-top: 2rem;
  }

  @include mediaQuery(1242px){
margin: auto;

  }

  &__details{

    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    z-index: 1;
 
  }
  &__wrapper{

    @include grid(4,2rem);
    @include mediaQuery(820px){

      @include grid(2,2rem);
    }

    @include mediaQuery (){

      @include grid(1,2rem);
    }
  }


}

.discovery{

  position: relative;
  background: url(/img/bg-trees.png) repeat fixed 100%;
  background-repeat: no-repeat;
  background-size: cover;

  h2{
    font-size: 5rem;
    line-height: 1.2;
  }

  &__wrapper{

    @include grid(2,5rem);
    @include mediaQuery(){
      @include grid(1,5rem);

    }
    
  }

  &__videos{

    @include mediaQuery(780px){
    display: block !important;

    }
gap: 1rem;
    display: flex;
    iframe{

      width: 100%;
      height: 15rem;
    }
  }
}

.footer{
  border-bottom: 1px solid $clr-white;

  @include mediaQuery($break-md) {
    display: block;
        }
  &__quicklinks{

    gap: 5rem;


    ul li{

      &:first-child{

        margin-bottom: 1rem;
        font-weight: bold;
      }
    }
  }
  &__btn{

    &:last-child{

      width: 100%;
      text-align: center;
      
    }
  }
}

.credits{

 
color: $clr-white;
 padding: 3rem 0 ;

 &__wrapper{
  display: flex;
  // justify-content: space-between;
  gap: 55rem;
    align-items: center;

    ul{

            list-style: none;
            display: flex;
           gap: 0.8rem;
         }

         ul li a i{

          font-size: 1.5rem;
          color: $clr-primary;
        }


 }    


 
   
    
   

}


  
